<div class="row text-center">
	<div class="container">

		<div class="col-xs-12 col-sm-6 col-sm-push-3">
		<br>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="//www.youtube.com/embed/373yLUn6njU"></iframe>
		</div>
		<br><br><br><br>
		<div class="row">
			<div class="col-xs-4">
				<img src="../assets/6.jpg" class="img-responsive" alt="">
				<img src="../assets/2.jpg" class="img-responsive" alt="">
			</div>
			<div class="col-xs-4">
				<img src="../assets/5.jpg" class="img-responsive" alt="">
				<img src="../assets/4.jpg" class="img-responsive" alt="">
			</div>
			<div class="col-xs-4">
				<img src="../assets/3.jpg" class="img-responsive" alt="">
				<img src="../assets/1.jpg" class="img-responsive" alt="">
			</div>
		</div>
	</div>

		<div class="col-xs-6 col-sm-3 col-sm-pull-6" style="background-color: #dfdfdf; .border-radius( 5px );">
		<h4>Ultimas aportaciones</h4><br>
		<%@producto.each do |l| %>
			
			<img src="../assets/<%=l.img%>" width="30%" height="30%" class="img-responsive center-block" alt="">

              <%= link_to l.title, producto_path(l)%><br>

              Published <%=distance_of_time_in_words_to_now(l.created_at)%>

			<br>
		<%end%>
		</div>
	
	    <div class="col-xs-6 col-sm-3" style="background-color: #dfdfdf">
		
		<h4>Ultimas donaciones</h4><br>
		<%@recurso.each do |l| %>
			
			<%= image_tag l.avatar.url, class: "img-responsive center-block", width: "30%", height: "30%" %>
		    <%= link_to l.title, donacion_recurso_path(l)%>
          <br>

          Published <%=distance_of_time_in_words_to_now(l.created_at)%>

			<br>
		<%end%>
	</div>
</div>
</div>
<div class="row">
</div>
